footer {
    padding: $padd-tb var(--padd-lr);
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: auto;
    width: 100%;

    div {
        flex: 1 1 50%;
    }
    div + div {
        flex: 1 1 25%;
    }

    form {
        margin-top: 1rem;
        
        input {
            border-radius: none;
            outline: none;
            border: 1px solid darken($yellow, 5%);
            padding: 8px 20px;
            transition: $tran;

            &[type="text"] {
                background-color: $secondary;
    
                &:focus {
                    background-color: lighten($yellow, 40%);
                }
            }
            &[type="submit"] {
                background-color: $yellow;
                cursor: pointer;
                transform: translateX(-5px);

                &:hover {
                    background-color: darken($yellow, 5%);
                }
            }
        }
    }
}

